/*css goes here*/

div{
   border:1px solid cyan;
   position:relative;
   display: inline-block;
   overflow: auto;
}

ul{
   position:relative;
   overflow: hidden;
}

li{
	list-style-type: none;
	display: inline-block;

}

input{
	border-radius:5px;
}

#form_display{
   width: 70%;
   height: 82%;
   float: right;
   padding: 10Px;
   display: inline-block;
   
}

#form_buttons{
   width: 20%;
   height: 85%;
   float: left;
}

#cheat_sheet_wrapper{
	

}

.sections {
	width: 95%;
	/*height: 200px;
	padding: 10Px;
	background: #eeeeee;
	margin-left: auto;
    margin-right: auto;
	overflow:hidden;*/

}

.form_sections{
	width: 95%;
	background: #eeeeee;
	padding: 10Px;
	margin-left: auto;
    margin-right: auto;
	overflow:hidden;
	margin: 5px;
	border-radius:25px;

}

.questions{
	width: 90%;
	/*height: 100px;*/
	padding: 10px;
	background: #cccccc;
	margin: 10px;
	border-radius:20px;
}